@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/* App Application Styles */
body {
  color: #fff;
  background: #222;
}

h1, h2, h3, h6 {
  font-family:'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2.2rem;
}

h6 {
  color: #98D698;
  font-size: .75rem;
}

p {
  font-family:'oswald', serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

a {
  border: 0.063rem solid #98D698;
  padding: 0 .6rem;
}

.notice {
  margin: 20px auto;
  padding: 15px 0;
  border-width: 0.063rem 0;
  width: 95vw;
  height: 90vh;
  background-image: url(../images/working-hands.jpg);
  filter: grayscale(70%);
  background-repeat: no-repeat;
  background-size: 81.250rem;
  background-position-x: 35%;
  background-position-y: 90%;
}

@keyframes pulse {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.logo-img {
  animation: pulse 1.6s ease-in-out;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-top: 210px;
  margin-left: 25%;
  min-width: 45%;
  height: auto;
}

@media only screen and (max-width:50.5rem) {

  .logo-img {
    width: 60%;
    margin-left: 20%;
    margin-top: 210px;
  }
}

@media only screen and (max-width:32.2rem) {
  .logo-img {
    margin-top: 300px;
  }
}
