/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

h1 {
  font-family:'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 90px;
  margin-left: 31%;
  margin-top: 0;
  border: 1px solid #31FF31;
  padding: 20px;
  width: 403px;
}

.notice {
  margin: 20px auto;
  padding: 15px 0;
  border-width: 1px 0;
  width: 95vw;
  height: 90vh;
  background-image: url(../images/working-hands.jpg);
  filter: grayscale(70%);
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position-x: 35%;
  background-position-y: 90%;
}
