ul {
  list-style-type: none;
  background-color: rgba(58, 83, 69, 0.6);
}

li {
  font-family:'Oswald', sans-serif;
  font-weight: 300;
  padding: 0.625rem 1.875rem;
  font-size: 1.250rem;
}

li:first-child {
  margin-top: 1.875rem;
}

li:last-child {
  margin-bottom: 1.875rem;
}

li > * {
  text-decoration: none;
  color: #fff;
}

li a {
  border: none;
  padding: 0;
}

li:hover {
  color: #31FF31;
}

a:hover {
  color: #31FF31;
}

@keyframes move {
  0% { top: 5%; left: 110%; }
  20% { top: 5%; left: 110%; }
  100%  { top: 5%; left: 80%; }
}

@keyframes pulse {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.move {
  position: absolute;
  animation: move 1.6s, pulse 3s;
  transition-timing-function: ease-in-out;
  top: 5%;
  left: 80%;
}

.nav-flex {
  display: flex;
  justify-content: flex-end;
}

.ul-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 6.250rem;
  border: 0.063rem solid #31FF31;
  border-width: 0.063rem;
  -webkit-box-shadow: 0.188rem 0.125rem 0.625rem -0.250rem rgba(49,255,49,1);
  -moz-box-shadow: 0.188rem 0.125rem 0.625rem -0.250rem rgba(49,255,49,1);
  box-shadow: 0.188rem 0.125rem 0.625rem -0.250rem rgba(49,255,49,1);
}


@media only screen and (max-width:50.5rem) {

  @keyframes move {
    from { top: 5%; left: 110%; }
    to   { top: 5%; left: 70%; }
  }

  .move {
    left: 70%;
  }
}

@media only screen and (max-width:32.2rem) {
  @keyframes move {
    from { top: 5%; left: 110%; }
    to   { top: 5%; left: 53%; }
  }

  .move {
    left: 53%;
  }
}
