.project-flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  height: 31.25rem;
  border: 0.063rem solid #98D698;
  margin: 1.25rem auto;
}

.text-box > * {
  padding: 1.25rem 3.125rem;
}

.text-box h3 {
  color: #98D698;
}

.text-box h6 {
  text-align: center;
}

.flex-default {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-default a {
  text-decoration: none;
}

.screenshot {
  border-left: 0;
  width: 42.9%;
  height: auto;
  margin: 2.2rem;
  object-fit: cover;
}

.screenshot-mobile-appear {
  display: none;
}

.screenshot-mobile-physio {
  display: none;
}

.screenshot-mobile-black {
  display: none;
}

.project-flex-tile {
  display: flex;
  justify-content: space-around;;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: 31.25rem;
  border: 0.063rem solid #98D698;
  margin: 4.5rem auto;
}

.project-flex-tile a {
    border: none;
    padding: 0;
}

.tile-image {
  border-left: 0;
  width: 40%;
  height: 28.75rem;
  margin: 1.25rem;
  object-fit: cover;
  object-position: 0 0;
  filter: grayscale(70%);
}

.tile-image:hover {
  filter: grayscale(0%);
  -webkit-box-shadow: 0.188rem 0.125rem 0.625rem -0.250rem rgba(355,355,355,1);
  -moz-box-shadow: 0.188rem 0.125rem 0.625rem -0.250rem rgba(355,355,355,1);
  box-shadow: 0.188rem 0.125rem 0.625rem -0.250rem rgba(355,355,355,1);
}

.x-out {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 2.188rem;
  right: 2.813rem;
}

/*@media only screen and (max-width:75rem) {

}*/

@media only screen and (max-width:66.25rem) {
  .project-flex {
    height: auto;
  }

  .screenshot {
    display: none;
  }

  .screenshot-mobile-appear {
    display: block;
    margin: auto;
    width: 80%;
    height: 9.375rem;
    object-fit: cover;
    object-position: 0 0;
  }

  .screenshot-mobile-physio {
    display: block;
    margin: auto;
    width: 80%;
    height: 9.375rem;
    object-fit: cover;
    object-position: 0 -220px;
  }

  .screenshot-mobile-black {
    display: block;
    margin: auto;
    width: 80%;
    height: 9.375rem;
    object-fit: cover;
    object-position: 0 -40px;
  }

  .project-flex-tile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    border: 0.063rem solid #98D698;
  }

  .tile-image {
    width: 80%;
    height: 17.53rem;
  }

  .tileRowTwo {
    margin-top: 140.5px;
  }
}

@media only screen and (max-width:49.750rem) {
  .tile-image {
    width: 80%;
    height: 18.21rem;
  }
  .screenshot-mobile-physio {
    object-position: 0 -130px;
  }
}

@media only screen and (max-width:40.938rem) {
  .text-box h2 {
    font-size: 1.5rem;
  }

  .text-box h3 {
    font-size: 0.9rem;
  }

  .text-box p {
    font-size: 1.1rem;
  }

  .tile-image {
    width: 80%;
    height: 16.57rem;
  }

  .screenshot-mobile-appear {
    padding-left: 10%;
    padding-right: 10%;
    object-position: 0 0;
  }

  .screenshot-mobile-physio {
    padding-left: 10%;
    padding-right: 10%;
    object-position: 0 -100px;
  }

  .screenshot-mobile-black {
    padding-left: 10%;
    padding-right: 10%;
    object-position: 0 0;
  }

  .tileRowTwo {
    margin-top: 110px;
  }
}

@media only screen and (max-width:30.938rem) {
  .project-flex-tile {
    margin: 6rem auto;
  }

  .tileRowTwo {
    margin-top: 158px;
  }
}
