
.project-flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  height: 31.25rem;
  border: 0.063rem solid #98D698;
  margin: 1.25rem auto;
}

.text-box > * {
  padding: 1.25rem 3.125rem;
}

.text-box h2 {
  white-space: pre-line;
}

.text-box h3 {
  color: #98D698;
}

.text-box h6 {
  text-align: center;
}

.flex-default {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.screenshot {
  border-left: 0;
  width: 45%;
  height: auto;
  margin: 1.25rem;
  object-fit: contain;
}

.screenshot-mobile-appear {
  display: none;
}

@media only screen and (max-width:75rem) {

}

@media only screen and (max-width:66.25rem) {
  .project-flex {
    height: auto;
  }

  .screenshot {
    display: none;
  }

  .screenshot-mobile-appear {
    display: block;
    margin: auto;
    width: 80%;
    height: 9.375rem;
    object-fit: cover;
    object-position: 0 0;
  }
}

@media only screen and (max-width:40.063rem) {

}
