
.project-flex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  height: 31.25rem;
  border: 1px solid #98D698;
  margin: 1.25rem auto;
}
.text-box {
}

.text-box > * {
  padding: 1.25rem 3.125rem;
}

.text-box h3 {
  color: #98D698;
}

.text-box h6 {
  text-align: center;
}

.flex-default {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.screenshot {
  border-left: 0;
  width: 45%;
  height: auto;
  margin: 1.25rem;
  object-fit: contain;
}

@media only screen and (max-width:1200px) {
  .text-box h6 {
    color: red
  }
}
